<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Commands</directory>
      <directory suffix=".php">./src/Resources</directory>
      <directory suffix=".php">./src/Structs</directory>
      <directory suffix=".php">./src/Exception</directory>
      <directory suffix=".php">./src/Components/Generator</directory>
      <directory suffix=".php">./src/Components/SBP</directory>
    </exclude>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Plugin Uploader">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <logging/>
</phpunit>
